asgiref==3.4.1
autopep8==1.5.7
dj-database-url==0.5.0
Django==3.2.6
django-auto-logout==0.5.1
django-background-tasks==1.2.5
django-compat==1.0.15
django-crispy-forms==1.14.0
django-environ==0.9.0
django-session-idle-timeout==1.4.2
django-session-timeout==0.1.0
et-xmlfile==1.1.0
greenlet==2.0.1
gunicorn==20.1.0
numpy==1.23.5
openpyxl==3.0.10
pandas==1.5.2
pycodestyle==2.7.0
python-dateutil==2.8.2
python-decouple==3.4
pytz==2021.1
setuptools==65.5.1
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
Unipath==1.1
wheel==0.38.3
whitenoise==5.3.0
xlrd==2.0.1
psycopg2-binary
py-zabbix==1.1.7
django-admin-honeypot==1.1.0
requests==2.31.0