<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">
            <table class="main">
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p>Assalamualaikum w.b.t. dan Salam sejahtera,</p>
                        <p>YAB Dato' Seri/ YB Datuk Seri/ YBhg. Datuk / YBhg. Dato' / YBhg. Datin / YBrs. Dr. / Tuan / Puan,</p>
                        <b>PENGESAHAN PENERIMAAN DATA OLEH LAKSANA BERHUBUNG DENGAN INISIATIF {{initiative}}</b>
                        <p>Dengan hormatnya perkara di atas adalah dirujuk.</p>
                        <p>2.      Untuk makluman tuan/puan, pihak kami telah menerima data daripada pihak tuan/puan berkaitan inisiatif {{initiative}} pada {{date}}. Berikut merupakan butiran bagi serahan kali ini:</p>
                        <ul>
                          <li>Nama fail: {{filename}}.{{file_ext}}</li>
                          <li>Nama agensi pelaksana: {{agency_name}}</li>
                          <li>Nama penyerah: {{user_full_name}}</li>
                          <li>Jumlah baris diterima <i>(accepted)</i>: {{count_row_accepted}}</li>
                          <li>Jumlah baris tidak diterima <i>(rejected)</i>: {{count_row_rejected}}</li>
                          <li>Jumlah disalurkan diterima (RM): {{sumaccepted}}</li>
                          <li>Jumlah disalurkan tidak diterima (RM): {{sumrejected}}</li>
                        </ul>
                        <p>Segala kerjasama tuan/puan amat dihargai.</p>
                        <p>Sekian, terima kasih.</p>
                        <i>ini adalah e-mel yang dijana secara automatik. Tuan/Puan tidak perlu membalas mesej ini. Untuk pertanyaan, sila hubungi pegawai LAKSANA yang mengendalikan inisiatif anda.</i>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>