<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">
            <table class="main">
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p>Assalamualaikum w.b.t. dan Salam sejahtera,</p>
                        <p>Tuan/Puan,</p>
                        <b>PENERIMAAN PERMOHONAN UNTUK KEMAS KINI KATA LALUAN</b>
                        <p>Dengan hormatnya perkara di atas adalah dirujuk.</p>
                        <p>2.       Kami telah menerima permohonan tuan/puan untuk mengemaskini kata laluan  bagi e-mel ini. Mohon kerjasama tuan/puan untuk mengklik pautan di bawah untuk mengemaskini kata laluan:</p>
                        <p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
                        <p>3.       Kami ingin memberi peringatan bahawa pautan ini hanya boleh digunakan sekali sahaja. Jika tuan/puan perlu mengemaskini kata laluan, sila layari {{ protocol }}://{{domain}} untuk membuat permohonan semula.</p>
                        <p>4.       Tuan/puan tidak perlu ambil tindakan sekiranya tidak membuat sebarang permohonan untuk kemas kini kata laluan.</p>
                        <p>Segala kerjasama tuan/puan amat dihargai.</p>
                        <p>Sekian, terima kasih.</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>