{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Log In {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/password_validator.css">
{% endblock stylesheets %}

{% block content %}

{% load crispy_forms_tags %} 


<section class="gradient-custom" style="background-color: lightgray; min-height: 100%;">
  <div class="container py-5" style="min-height: 100vh; margin: auto;">
    <div class="row d-flex justify-content-center align-items-center" style="min-height: 90vh;">
      <div class="col-12 col-md-6 col-lg-6 col-xl-5">
        <div class="card text-white" style="border-radius: 1rem; background-color: white;">
          <div class="card-body p-5 text-center" style="height: fit-content;">

            <div class="mb-md-0 mt-md-0 pb-0">
              
              <div class="card-header text-left bg-transparent pt-0" >
                <h4 class="text-info text-gradient" style="text-align: center;">
                  PENGESAHAN SET SEMULA KATA LALUAN
                </h4>
                <p style="text-align: center; color: black;">
                  Sila masukkan kata laluan anda yang baru.         
                </p>
              </div>

              {% if messages %}
                  {% for message in messages %}
                  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" style="color: red;">             
                      <strong>{{message}}</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>                         
                  {% endfor %}
              {% endif %} 

              <form method="post">
                {% csrf_token %}

                <div class="form-group">
                  <div class="col">
                      <div class="row">
                          <label for="{{ form.new_password1.id_for_label }}">Kata laluan baru:</label>
                      </div>
                      <div class="row">
                        <input type="password" class="form-control" id="new_password1"
                        {{ form.new_password1 }}
                      </div>
                  </div>
                </div>
                <div class="alert px-4 py-3 mb-0 d-none mt-3" role="alert" data-mdb-color="warning" id="password-alert" style="color: black; background-color: lightgray;">
                  <ul class="list-unstyled mb-0">
                    <li class="requirements leng">
                      <i class="fas fa-check text-success me-2"></i>
                      <i class="fas fa-times text-danger me-3"></i>
                      Kata laluan anda mesti tidak kurang daripada 12 aksara</li>
                    <li class="requirements big-letter">
                      <i class="fas fa-check text-success me-2"></i>
                      <i class="fas fa-times text-danger me-3"></i>
                      Kata laluan anda mesti mempunyai sekurang-kurangnya 1 huruf besar</li>
                    <li class="requirements num">
                      <i class="fas fa-check text-success me-2"></i>
                      <i class="fas fa-times text-danger me-3"></i>
                      Kata laluan anda mesti mempunyai sekurang-kurangnya 1 nombor</li>
                    <li class="requirements special-char">
                      <i class="fas fa-check text-success me-2"></i>
                      <i class="fas fa-times text-danger me-3"></i>
                      Kata laluan anda mesti mempunyai sekurang-kurangnya 1 aksara istimewa</li>
                  </ul>
                </div>
                <p></p>
                <b class="text-danger">{{form.new_password1.errors}}</b>

                <div class="form-group">
                  <div class="col">
                      <div class="row">
                          <label for="{{ form.new_password2.id_for_label }}">Sahkan kata laluan:</label>
                      </div>
                      <div class="row">
                        <input type="password" class="form-control" id="new_password2"
                        {{ form.new_password2 }}
                      </div>
                  </div>
                </div>
                <div class="alert px-4 py-3 mb-0 d-none mt-3" role="alert" data-mdb-color="warning" id="password-alert-2" style="color: black; background-color: lightgray;">
                  <ul class="list-unstyled mb-0">
                    <li class="requirements2 match2">
                      <i class="fas fa-check text-success me-2"></i>
                      <i class="fas fa-times text-danger me-3"></i>
                      Sila masukkan kata laluan anda dengan betul</li>
                  </ul>
                </div>
                <b class="text-danger">{{form.new_password2.errors}}</b>

                <ul class="py-3 m-0 pb-0" style="color: black;">
                  <li>Kata laluan anda tidak boleh sama dengan maklumat peribadi anda</li>
                  <li>Ia mesti mengandungi sekurang-kurangnya 12 aksara</li>
                  <li>Kata laluan anda tidak boleh menggunakan kata laluan yang umum</li>
                  <li>Kata laluan anda tidak boleh berbentuk angka sepenuhnya</li>
                  <li>Kata laluan anda perlu mempunyai sekurang-kurangnya <b>1 NOMBOR</b>, <b>1 HURUF BESAR</b> dan <b>1 AKSARA ISTIMEWA</b></li>
                </ul>
                <br></br>
                <a href="/login" type="button" class="btn btn-info m-0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                  </svg>
                  Kembali
                </a>
                <button type="submit" name="change_password" class="btn btn-success m-0">Simpan</button>
              </form>

            </div>

            

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script type="text/javascript" src="/static/assets/js/password_validator_email_reset.js"></script>
  <script type="text/javascript" src="/static/assets/js/password_validator_confirm.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock javascripts %}
