{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Log In {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<section class="gradient-custom" style="background-color: lightgray; min-height: 100%;">
  <div class="container py-5" style="min-height: 100vh; margin: auto;">
    <div class="row d-flex justify-content-center align-items-center" style="min-height: 90vh;">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white" style="border-radius: 1rem; background-color: white">
          <div class="card-body p-5 text-center mb-0" style="height: fit-content; ">

            <div class="mb-md-0 mt-md-4 pb-0">
              <img src="/static/assets/img/logo_v1.png" class="navbar-brand-img h-20 w-20" alt="...">
              <div class="card-header text-left bg-transparent pt-5">
                <h4 class="text-info text-gradient" style="text-align: center; margin-bottom: 20px;">
                  SET SEMULA KATA LALUAN BERJAYA!
                </h4>
                <p style="text-align: center; color: black; margin-bottom: 10px;">
                  Kata laluan anda sudah diubah. Anda boleh log masuk menggunakan kata laluan yang baru.
                </p>
              </div>
              <div class="card-footer text-center pb-0">
                <a href="/login" type="button" class="btn btn-info">
                  Kembali ke Log Masuk
                </a>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock javascripts %}
