{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Log In {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load crispy_forms_tags %}

<section class="gradient-custom" style="background-color: lightgray; min-height: 100%;">
  <div class="container py-5" style="min-height: 100vh; margin: auto;">
    <div class="row d-flex justify-content-center align-items-center" style="min-height: 90vh;">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white" style="border-radius: 1rem; background-color: white">
          <div class="card-body p-5 text-center" style="height: fit-content;">

            <div class="mt-md-4">
              <img src="../static/assets/img/logo_v1.png" class="navbar-brand-img h-20 w-20" alt="...">
              <div class="card-header text-left bg-transparent" >
                <h4 class="text-info text-gradient" style="text-align: center;">
                  SET SEMULA KATA LALUAN
                </h4>
                
                <p style="text-align: center; color: black;">
                  Sila masukkan alamat e-mel yang telah didaftarkan
                </p>
              </div>

              {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show my-2" role="alert">             
                  <strong>{{ message }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
              {% if msg %}
                <div class="alert alert-warning alert-dismissible fade show my-4" role="alert">             
                  <strong>{{msg}}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>   
              {% endif %}

              <form role="form text-left" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <div class="mb-0" style="color: #d1d1d1;">
                      <div class="row">
                          <label for="{{ password_reset_form.email.id_for_label }}">Alamat e-mel:</label>
                      </div>
                      <div class="row">
                        <input type="text" class="form-control"
                        {{ password_reset_form.email }}
                      </div>
                  </div>
                </div>
                <br><br/>
                <a href="/login" type="button" class="btn btn-info">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                  </svg>
                  Kembali
                </a>                
                <button class="btn btn-success" type="submit">Hantar</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock javascripts %}
