{% extends 'layouts/base.html' %}

{% block title %}{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock stylesheets %}

{% block content %}

<div class="card my-4" style="height: 85vh; align-items: center; margin: 26px;">
                                
    <div class="card" style="margin:auto; background-color:#E5E5E5; border-width: 1px; width: 90vh;">
        <div class="container-fluid">
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">             
                        <strong>{{message}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>                         
                    {% endfor %}
                {% endif %} 
                    <h4 class="font-weight-bolder mb-4" style="text-align: center;">PENYERAHAN DATA</h4>
                    <div class="card-body">
                        <form method = "POST" action="{% url 'upload' %}" enctype="multipart/form-data" id="form">
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            <div class="form-group">
                                <div class="col">
                                    <div class="row">
                                        <label for="{{ form.Inisiatif.id_for_label }}" class="col-sm-2 col-form-label px-0" style=" float: left; margin: 4px; flex-wrap: wrap;">Nama Inisiatif:</label>
                                    </div>
                                    <div class="row">
                                        <select class = "form-control" id="inisiatif"
                                            {{ form.Inisiatif }}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            {{ form.Inisiatif.errors }}

                            <div class="form-group">
                                <div class="col">
                                    <div class="row">
                                        <label for="{{ form.Fail.id_for_label }}" class="col-sm-2 col-form-label px-0" style=" float: left; margin: 4px;">Nama Fail:</label>
                                    </div>
                                    <div class="row p-0">
                                    <input type="file" name="Fail" required id="id_Fail" size="60" style="padding-left: 0%;" 
                                    {{ form.Fail }} 
                                    </div>
                                </div>
                            </div>
                            {{ form.Fail.errors }}

                            <div class="form-group">
                                <div class="col">
                                    <div class="row">
                                    <label for="{{ form.Helaian.id_for_label }}" id="label-helaian" style="display:none" class="col-sm-2 col-form-label px-0" style="text-align: left; margin-left: 0%;">Nama Helaian: <i>(Sheet Name)</i></label>
                                    </div>
                                    <div class="row">
                                        <select class = "form-control" id="helaian" style="display:none" class="form-control" placeholder="Nama helaian"
                                            {{ form.Helaian }}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            {{ form.Helaian.errors }}
                            

                            <div class="form-group">
                                <div class="col">
                                    <div class="row" >
                                        <div class="col mt-4" style="text-align: center;">
                                            <button type="submit" class="btn btn-primary btn-lg" style="background-color: #7AC142; color: white; width: 250px; height: 50px;" id="form_submit_button">
                                                Hantar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
    
<!-- Specific JS goes HERE --> 
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/fileValidation.js"></script>
    <script>
        document.querySelector('#form').addEventListener('submit', function(e) {
            var form = this;
            e.preventDefault();
            swal({
                title:"Fail anda sedang diproses", 
                text:"Proses ini mungkin mengambil masa sehingga 3 minit",
                buttons:false,      
                closeOnClickOutside:false,
              })
              form.submit();
            });
    </script>  
{% endblock javascripts %}